body {
  background: linear-gradient(#637d9e, #f7d8d7);
}



h1 {
    font-size: 70px;
    margin-top: 38px;
    margin-bottom: 38px;
}
ul {
    list-style: none;
    font-size: 35px;
    padding: 0;
}
li {
   line-height: 1.5;
   margin-bottom: 23px;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
img {
    border-radius: 50px;
    width: 90px;
}

.website-container {
  text-align: center;
}
.sensory-container {
    text-align: center;
    margin-top: 38px;
    margin-bottom: 58px;
}
.source-footer {
    text-align: center;
}
.my-image {
    margin-top: 50px;
}