body {
  background: linear-gradient(#637d9e, #f7d8d7);
}
h3 {
  font-size: 53px;
  font-family: "Black Han Sans", sans-serif;
  color: #f7d8d7;
}
h1 {
  font-family: "Black Han Sans", sans-serif;
  font-size: 83px;
  margin-top: 24px;
  margin-bottom: 24px;
}
ul {
  list-style: none;
  font-size: 35px;
  padding: 0;
}
li {
  line-height: 1.5;
  margin-bottom: 23px;
}
a {
  font-family: "Glegoo", serif;
  text-decoration: none;
  color: blue;
}
a:hover {
  color: red;
}
img {
  border-radius: 80px;
  width: 133px;
}
img:hover {
  opacity: .5;
}

.website-container {
  text-align: center;
}
.sensory-container {
  text-align: center;
  margin-top: 38px;
  margin-bottom: 38px;
}
.source-footer {
  font-size: 18px;
  text-align: center;
  font-family: "Kufam", sans-serif;
}
.my-image {
  margin-top: 78px;
}

@media (max-width: 1200px) {
  h3 {
    font-size: 38px;
  }
  h1 {
    font-size: 60px;
  }
  img {
    width: 80px;
  }
  li {
    margin-bottom: 15px;
  }
}